a {
  color: #C9A61A;
}

a:hover {
  color:#000;
}

#nav {
  height: 400px;
  padding: 10px;
  background: gray url("../images/header1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-width: 840px;
}

#nav-content {
  text-align: center;
  position: relative;
  padding:10px;
  font-size: 80px;
  /* font-family: 'Teko'; */
  color:#fff;
  display: block;
  text-shadow: 5px 5px 5px #333;
}

#nav-content-sub {
  display: block;
  font-size: 25px;
}

#content {
  width: 90%;
  min-width: 800px;
  background-color: white;
  padding:10px;
  position: relative;
  left:35%;
  transform: translate(-35%, 0%);
  z-index: 10;
  margin: 20px;
  margin-top: -35px;
  border-radius: 15px 15px 0px 0px;
  /* box-shadow: 3px 5px 5px 10px #eee; */
  margin-bottom: 50px;
}

#content-top {
  padding:20px;
}

#footer {
  width: 100%;
  height:auto;
  padding:20px;
  background-color: #F0F0F0;
}

#footer-content {
  width:80%;
  position: relative;
  left: 50%;
  transform: translate(-35%, 0%);
}

#footer-bio img {
  width: 70px;
  margin-right: 15px;
  border:5px solid #fff;
}

.nav-link:active:focus, .nav-link.active.show, .nav-link.active {
  background-color: #C9A61A;
}
