<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UCF Demographics</title>

  <!-- BOKEH CSS -->
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" rel="stylesheet" type="text/css">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- BOOTSTRAP JS/JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- BOKEH SCRIPTS -->
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables--0.12.15.min.js"></script>
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'data_visualization/css/style.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">

  <!-- PAGE-SPECIFIC JS -->
  {% block script-content %}
  {% endblock %}

</head>
<body>
  <nav class="navbar navbar-light bg-light" id="nav">
    <!-- <a class="navbar-brand" href="#">Diversity.</a> -->
    <div class="container" id="nav-content">
      Diversity
      <div id="nav-content-sub">
        An in-depth look at UCF's dynamic student body
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="content">
    <div id="content-top">
      <h1 class="display-4">Gender and Racial Demographics at UCF</h1>
      <p class="lead">With over 60,000 students, UCF has a mixture of people from
        vastly different backgrounds. This project aims to visualize UCF's diversity
        by aggregating data from the official <a href="https://ikm.ucf.edu/facts-and-reports/ucf-fact-book/" target="new">UCF Fact Book</a> and plotting it to
        conceptualize diversity over the course of the years in specific colleges
        and the overall student population.</p>
      <hr class="my-4">
      <h2>Introduction</h2>
      <p>Going into a lecture, whether it be an introductory course or a high-level elective,
        we notice different combinations and patterns of diversity in our classes. Below you
        will find data that will show those differences across your classes through various
        groupings you can interact with.</p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p> -->
    </div>

    {% block content %}
    {% endblock %}
  </div>

  <div class="container-fluid" id="footer">
    <div id="footer-content">
      <div class="row">
        <div class="col" id="footer-bio">
          <h5>Made By</h5>
          <img src="{% static 'data_visualization/images/me.jpg' %}" class="rounded-circle float-left">
          <br><a href="http://dewindita.me" target="new">Haerunnisa Dewindita</a>
          <br>B.S Computer Science and Mathematics, Spring '19
        </div>
        <div class="col">
          <h5>Credits</h5>
            <a href="https://ikm.ucf.edu/facts-and-reports/ucf-fact-book/" target="new">UCF Fact Book</a>
            <br>Header Photo: <a href="https://today.ucf.edu/ucf-in-photos/photos-best-photos-2017/" target="new">UCF Today</a>

          <p style="margin-top:10px">
            View source code on <a href="https://github.com/ditadewindita/ucf-demographics" target="new">Github</a> | Made with <3 in Orlando, FL
          </p>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
