{% extends 'data_visualization/base.html' %}

<!-- BOKEH SCRIPT -->
{% block script-content %}
  {% if data %}
    {% for d in data %}
      {{ d.script | safe }}
    {% endfor %}
  {% endif %}
{% endblock %}

<!-- INDEX CONTENT -->
{% block content %}
  <div class="container-fluid" id="content">
    <div id="content-top">
      <h1 class="display-4">Gender and Racial Demographics at UCF</h1>
      <p class="lead">With over 60,000 students, UCF has a mixture of people from
        vastly different backgrounds. This project aims to visualize UCF's diversity
        by aggregating data from the official <a href="https://ikm.ucf.edu/facts-and-reports/ucf-fact-book/" target="new">UCF Fact Book</a> and plotting it to
        conceptualize diversity over the course of the years in specific colleges
        and the overall student population.</p>
      <hr class="my-4">
      <h2>Introduction</h2>
      <p>Going into a lecture, whether it be an introductory course or a high-level elective,
        we notice different combinations and patterns of diversity in our classes. Below you
        will find data that will show those differences across your classes through various
        groupings you can interact with.</p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p> -->

      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist" style="margin-top:40px;">
        {% if data %}
          {% for d in data %}
            {% if forloop.first %}
            <li class="nav-item">
              <a class="nav-link active" id="pills-{{ d.college_code }}-tab" data-toggle="pill" href="#pills-{{ d.college_code }}" role="tab" aria-controls="pills-{{ d.college_code }}" aria-selected="true">{{ d.college }}</a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" id="pills-{{ d.college_code }}-tab" data-toggle="pill" href="#pills-{{ d.college_code }}" role="tab" aria-controls="pills-{{ d.college_code }}" aria-selected="false">{{ d.college }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>

      <div class="tab-content" id="pills-tabContent" style="margin-top:25px">
        {% if data %}
          {% for d in data %}
            {% if forloop.first %}
              <div class="tab-pane fade show active" id="pills-{{ d.college_code }}" role="tabpanel" aria-labelledby="pills-{{ d.college_code }}-tab">
                <div class="card">
                  <div class="card-body">
                    <h4 class="alert-heading">{{ d.college_code }} - {{ d.college }}</h4>
                    Hover over each bar in the graph for more details.
                  </div>
                </div>
                {{ d.div | safe }}
              </div>
            {% else %}
              <!-- BOKEH DIV -->
              <div class="tab-pane fade" id="pills-{{ d.college_code }}" role="tabpanel" aria-labelledby="pills-{{ d.college_code }}-tab">
                <div class="card">
                  <div class="card-body">
                    <h4 class="alert-heading">{{ d.college_code }} - {{ d.college }}</h4>
                    Hover over each bar in the graph for more details.
                  </div>
                </div>
                <!-- <div id="divider"></div> -->
                {{ d.div | safe }}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
